/* Diseño base del sidebar */
.sidebarMain {
  position: relative;
  width: 420px;
  min-width: 420px;
  height: 100dvh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.sidebarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 420px;
  height: 100dvh;
  border-right: 1px solid hsla(0, 0%, 100%, 0.05);
  transition: transform 0.3s ease-in-out;
}

.sidebarHeader {
  position: relative;
  height: 100px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  padding-left: 25px;
  display: flex;
  align-items: center;
  width: 100%;
}

.sideLogo {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.logo {
  min-width: 50px;
}

.sideLogo span {
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: transform 0.3s ease-in-out;
}

.sidebarMenu {
  height: calc(100% - 100px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: transform 0.3s ease-in-out;
}

.section {
  display: flex;
  flex-direction: column;
}

.sideSubtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: hsla(0, 0%, 85%, 0.6);
  margin-bottom: 10px;
  transition-duration: 0.3s;
  overflow: hidden;
}

.sideNavs {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 18px;
  background: linear-gradient(270deg, #18191c 60%, #23242a 100%);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.05), 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navItem {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  transition-duration: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 25px;
  gap: 10px;
  text-decoration: none;
}

.navItem span {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  white-space: nowrap;
}

.sideNavIcon {
  min-width: 22px;
}

/* Hover y activo */
.navItem:hover,
.active {
  background: linear-gradient(270deg, #FCB830 60%, #c99a30);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.1), 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navItem:hover span,
.navItem:hover .sideNavIcon path,
.active span,
.active .sideNavIcon path {
  color: #262626;
  fill: #262626;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebarMain {
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    position: fixed;
    z-index: 1000;
    margin-top: 65px;
    background: var(--dashboard-bg);
  }

  .sidebarContainer {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border-right: none;
  }

  .sidebarMain.active {
    transform: translateX(0);
  }

  .sidebarHeader {
    display: none;
  }

  .navItem {
    height: 40px;
    padding: 0 15px;
  }

  .navItem span {
    font-size: 14px;
  }

  .sideSubtitle {
    font-size: 12px;
  }

  .sidebarMenu {
    padding: 15px 30px 30px;
  }
}

@media (min-width: 768px) {
  .sidebarMain {
    transform: translateX(0);
    width: 250px;
  }
}
